* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fb;
}

.MainContentContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.ContentWrapper {
    width: 100%;
}

.bigWrapper {
    width: 100%;
    display: flex;
    height: 90vh;
}

.profile {
    border-radius: 10px;
    background-size: cover;
    border: 2px solid blue;
}

.btn {
    border-radius: 5px;
    padding: 10px;
    border-width: 1px;
    font-weight: 600;
}

.btn:hover {
    filter: brightness(.9);
}

.input {
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    outline: none;
}

.container {
    padding: 10px;
    border-radius: 10px;
}

.box-shadow {
    box-shadow: 1px 1px 8px gray;
}

