* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginbody {
    background: linear-gradient(135deg,
  #e0f7fa,  /* icy white */
  #b2ebf2,  /* pale ice blue */
  #81d4fa   /* cold sky blue */
    ); /* seasonal */
}

.btn {
    padding: 15px;
    font-weight: 600;
    border-radius: 5px;
    border-style: none;
    margin: 10px;
}

.btn:hover {
    filter: brightness(.9);
}

.container {
    display: flex;
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
}

.input {
    padding: 15px;
    outline: none;
    border-radius: 5px;
    border-style: none;
    width: 100%;
    margin: 5px;
}

.LoginContainer {
    box-shadow: 1px 1px 10px blue;
    width: 400px;
    max-width: 500px;
    /* background-color: white; temporary */
    margin: 15px;
}

.welcome-message {
    text-align: center;
    margin: 5px;
}

.LoginContainer a {  /* forgot password */
    color: black;
    text-decoration: none;
}

.LoginContainer a:hover {
    text-decoration: underline;
}

.LoginContainer input {
    box-shadow: 1px 1px 5px blue;
    font-size: large;
    background-color: transparent;
    color: inherit;
}

.LoginContainer input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}

.loginButton {
    width: 100%;
    background-color: navy;
    color: white;
    box-shadow: 1px 1px 5px blue;
}

.LoginContainer a:hover {
    text-decoration: none;
}

.createNewAccount {
    background-color: rgb(169, 238, 169);
    box-shadow: 1px 1px 5px blue;
}

.security-indicators p{
    text-align: center;
}

.footer {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer div {
    display: flex;
    gap: 10px;
}

/* sign up boundary */

.signupbody {
     background: linear-gradient(135deg,
   #8b0000,   /* dark red / ember */
   #ff4500,   /* orange-red */
   #ff8c00,   /* orange */
   #ffd700    /* yellow spark */
   );
}

.SignUpContainer {
    width: 400px;
    box-shadow: 1px 1px 5px yellow;
}

.SignUpContainer button {
    box-shadow: 1px 1px 5px yellow;
    background-color: red;
}

.SignUpContainer input {
    box-shadow: 1px 1px 5px yellow;
    background-color: transparent;
    color: white;
}

.SignUpContainer input::placeholder {
    color: white;
}

.SignUpContainer input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}

.SignUpContainer .termsAndCondition {
    text-align: center;
    margin-bottom: 5px;
}

.welcommessageSignup {
    font-weight: 100;
    margin-bottom: 10px;
}
