<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JPSecond personal foul</title>
    <link rel="stylesheet" href="styles/body.css">
    <link rel="stylesheet" href="styles/messages.css">
    <link rel="stylesheet" href="styles/sidebar.css">
    <link rel="stylesheet" href="styles/chat.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/personProfile.css">
    <link rel="stylesheet" href="styles/friendRequest.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>

        <div class="box-shadow container sidebar">
            <div class="logo">
                <i class="fa-solid fa-envelope"></i>
                <h1>Hey daddy</h1>
            </div>
            <div class="notif-profile-container">
                <hr>
                <div class="iconsWrapper">
                    <div class="accountsInSideBar">
                        <i class="fa-regular fa-user"></i>
                        <span>Accounts</span>
                    </div>
                    <div class="settings">
                        <i class="fa-regular fa-gear"></i>
                        <span>Settings</span>
                    </div>
                     <div class="messagesIcon">
                        <i class="fa-regular fa-envelope"></i>
                        <span>Messages</span>
                     </div>
                     <div class="FriendRequestIconAndLabelContainer">
                        <i class="fa-solid fa-user-group"></i>
                        <span>Friend Request</span>
                     </div>
                </div>
            </div>
        </div>
      
       
        <div class="requestBodyContainer">
            <div class="navbar">
                <h1>Messages</h1>
                <div class="navbarSearchAndButtonContainer">
                    <input type="search" name="" class="input searchPeople" placeholder="Search some people">
                    <button class="btn box-shadow navbarSearchButton">Search</button>
                    <div class="searchResultContainer">
                        <h1 class="noResultFoundMessage">No result found</h1>
                        <ul class="userFromSearchResult">
            
                        </ul>
                    </div>
                </div>
                <img class="userprofile" th:attr="data-user-id=${userId}" th:src="@{${imagePath}}">
            </div> 
            
            <div class="messagesContainer" id="messagesContainer">
                <!-- WARNING: don't remove this one  -->
            </div>
            
            
            <div class="container chatContainer" id="chatContainer">
                <div class="reciever"> <!--opening-->
                    <div class="recieverContainer"> <!--opening-->
                        <div class="profile box-shadow recieverProfile"></div> <!--opening&&closing-->
                        <h1 class="recivierNameTop">Rasma Inasal Jr.</h1>
                    </div> <!--closing-->
                    <div class="iconContainer"> <!--opening-->
                        <i class="fa-solid fa-camera"></i>
                        <i class="fa-solid fa-x"></i>
                    </div> <!--closing-->
                </div> <!--closing-->
            
                <div class="conversationContainer">
                    <div class="kachatlittleinfo">
                        <div class="profile box-shadow friendProfile"></div>
                        <h1 class="recivierName">Rasma Inasal Jr.</h1>
                        <h3>your friends on Hey Daddy</h3>
                    </div>
            
                    <div class="conversation">
               
                    </div>
                </div>
                <div class="box-shadow chatInputboxContainer">
                    <div class="Inputfieldicons">
                        <i class="fa-regular fa-file"></i>
                        <i class="fa-solid fa-image"></i>
                        <p>😀</p>
                    </div>
                    <input class="input messageInputField" type="text" name="" id="messageInputField">
                    <i class="sendMessage fa-solid fa-paper-plane"></i>
                </div>
            </div>
            <div class="personProfile">
                <div class="profile personProfilePicture">
            
                </div>
                <h1 class="personName">john Patrick laplana</h1>
                <div class="buttonsContainer">
                    <button class="addButton">Add</button>
                    <button class="messageButton">Message</button>
                </div>
                <hr>
                <p class="title">You can message this person without adding them as a friend.</p>
                <p class="bodyText">Adding them as a friend lets you save the conversation, get faster access to their profile, and
                    unlock more messaging
                    features.</p>
            </div>
            <div class="friendrequestsContainer">
                <h1>Friend request</h1>
                <hr>
            
            </div>
            
        </div>

        <div class="threeDonContentContainer">
            <h5>Mute</h5>
            <h5>Block</h5>
        </div>
      
    <script type="module" src="components/components.js"></script>
    <script type="module" src="pages/login.js"></script>
    <script type="module" src="pages/mainPage.js"></script>
</body>
</html>