<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JPSecond personal foul</title>
    <link rel="stylesheet" href="styles/body.css">
    <link rel="stylesheet" href="styles/messages.css">
    <link rel="stylesheet" href="styles/sidebar.css">
    <link rel="stylesheet" href="styles/chat.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/personProfile.css">
    <link rel="stylesheet" href="styles/friendRequest.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>

        <div class="box-shadow container sidebar">
            <div class="logo">
                <i class="fa-solid fa-envelope"></i>
                <h1>Hey daddy</h1>
            </div>
            <div class="notif-profile-container">
                <hr>
                <div class="iconsWrapper">
                    <div class="accountsInSideBar">
                        <i class="fa-regular fa-user"></i>
                        Accounts
                    </div>
                    <div class="settings">
                        <i class="fa-regular fa-gear"></i>
                        Settings
                    </div>
                     <div class="messagesIcon">
                        <i class="fa-regular fa-envelope"></i>
                        Messages
                     </div>
                     <div class="FriendRequestIconAndLabelContainer">
                        <i class="fa-solid fa-user-group"></i>
                        Friend Request
                     </div>
                </div>
            </div>
        </div>
      
        <div class="ContentWrapper">  
            <div class="navbar">
                <h1>Messages</h1>
                <div class="navbarSearchAndButtonContainer">
                    <input type="search" name="" class="input searchPeople" placeholder="Search some people">
                    <button class="btn box-shadow navbarSearchButton">Search</button>
                    <div class="searchResultContainer">
                        <h1 class="noResultFoundMessage">No result found</h1>
                        <ul class="userFromSearchResult">
                           
                        </ul>
                    </div>
                </div>
                <div class="navbarProfileAndNotificationWrapper">
                    <button class="notifBtn">
                        <i class="fa-regular fa-bell"></i>
                        <span class="notifbadge">3</span>
                    </button>
                    <div class="box-shadow notifDropdown">
                        <h2 class="notificationHeader">Notifications</h2>
                        <div class="notifmessage">
                            New message request from johny yes dadday
                        </div>

                        <div class="notifmessage">
                            new message request from johny yes dadday
                        </div>

                        <div class="notifmessage">
                            new message request from johny yes dadday
                        </div>

                        <div class="notifmessage">
                            johny yes dadday sent some message
                        </div>

                        <div class="notifmessage">
                            johny yes dadday sent some trashtalk
                        </div>

                        <div class="notifmessage">
                            johny yes dadday sent some trashtalk
                        </div>

                        <div class="notifmessage">
                            johny yes dadday sent some trashtalk
                        </div>

                         <div class="notifmessage">
                             johny yes dadday sent some trashtalk
                         </div>
                    </div>
                    <img class="userprofile profile" th:attr="data-user-id=${userId}" th:src="@{${imagePath}}" alt="">
                </div>
            </div> 
            <div class="bigWrapper">
                <div class="MainContentContainer">
                    <div class="box-shadow container messagesContainer" id="messagesContainer">
                        <div class="box-shadow messagestopcontent">
                            <img class="userprofileinmessagesheader profile" th:src="@{${imagePath}}" alt="">
                            <div class="searchContainer">
                                <input class="box-shadow input" type="search" placeholder="search friends">
                                <button class="box-shadow btn searchbtn">Search</button>
                            </div>
                        </div>
                        <div class="container messagesContentContainer">
                    </div>
                </div>
                
                <div class="container chatContainer" id="chatContainer">
                    <div class="reciever"> <!--opening-->
                        <div class="recieverContainer"> <!--opening-->
                            <div class="profile box-shadow recieverProfile"></div> <!--opening&&closing-->
                               <h1 class="recivierNameTop">Rasma Inasal Jr.</h1>
                        </div> <!--closing-->
                        <div class="iconContainer"> <!--opening-->
                            <i class="fa-solid fa-camera"></i>
                            <i class="fa-solid fa-x"></i>
                        </div> <!--closing-->
                    </div> <!--closing-->
        
                        <div class="conversationContainer">
                            <div class="kachatlittleinfo">
                                <div class="profile box-shadow friendProfile"></div>
                                    <h1 class="recivierName">Rasma Inasal Jr.</h1>
                                    <h3>your friends on Hey Daddy</h3>
                                </div>
        
                                <div class="conversation">
                                    <div class="youContainer">
                                        <div class="you">
                                            <p>fkljalfjdlkafjsajf;</p>
                                            <img class="profile youProfile" th:src="@{${imagePath}}" alt="">
                                        </div>
                                </div>
        
                                <div class="kachatContainer">
                                    <div class="kachat">
                                        <div class="profile kachatProfile"></div>
                                            <p>f;ajfldk;sajflksafjlsk</p>
                                        </div>
                                    </div>
                                        <div class="kachatContainer">
                                            <div class="kachat">
                                                <div class="profile kachatProfile"></div>
                                                <p>f;ajfldk;sajflksafjlsk</p>
                                            </div>
                                        </div>
                                        <div class="kachatContainer">
                                            <div class="kachat">
                                                <div class="profile kachatProfile"></div>
                                                <p>f;ajfldk;sajflksafjlsk</p>
                                            </div>
                                        </div>
                                        <div class="youContainer">
                                            <div class="you">
                                                <p>fkljalfjdlkafjsajf;</p>   
                                                <img class="profile youProfile" th:src="@{${imagePath}}" alt="">
                                            </div>
                                        </div>
                                        <div class="youContainer">
                                            <div class="you">
                                                <p>fkljalfjdlkafjsajf;</p>
                                                <img class="profile youProfile" th:src="@{${imagePath}}" alt="">
                                            </div>
                                        </div>
                            </div>
                        </div>
                        <div class="box-shadow chatInputboxContainer">
                            <div class="Inputfieldicons">
                                <i class="fa-regular fa-file"></i>
                                <i class="fa-solid fa-image"></i>
                                <p>😀</p>
                            </div>
                            <input class="input messageInputField" type="text" name="" id="messageInputField">
                            <p>👍</p>
                        </div>
                </div> 
                <div class="personProfile">
                    <div class="profile personProfilePicture">
                
                    </div>
                    <h1 class="personName">john Patrick laplana</h1>
                    <div class="buttonsContainer">
                        <button class="addButton">Add</button>
                        <button class="messageButton">Message</button>
                    </div>
                    <hr>
                    <p class="title">You can message this person without adding them as a friend.</p>
                    <p class="bodyText">Adding them as a friend lets you save the conversation, get faster access to their profile, and unlock more messaging
                    features.</p>
                </div>
                <div class="friendrequestsContainer">
                    <h1>Friend request</h1>
                    <hr>
                    
                </div>
            </div>
        </div>  
        
        <div class="threeDonContentContainer">
            <h5>Mute</h5>
            <h5>Block</h5>
        </div>
      
    <script type="module" src="components/components.js"></script>
    <script type="module" src="pages/login.js"></script>
    <script type="module" src="pages/mainPage.js"></script>
</body>
</html>