.bottomNavbar {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.829);
    width: 100%;
    display: none;
    justify-content: space-between;
    padding: 20px;
}

.iconsWrapperInBottomNavBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.iconsWrapperInBottomNavBar span {
    color: white;
    font-size: small;
}

.bottomNavbar i {
    color: white;
    font-size: 20px;
}

@media (max-width: 500px) {
    .bottomNavbar {
        display: flex;
    }
}