.bottomNavbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
    justify-content: space-between;
    padding: 5px;
    z-index: 0;
    background-color: aliceblue;
}

.bottomNavbar.hide {
    display: none;
}

.bottomNavbar.show {
    display: block;
}

.iconsWrapperInBottomNavBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.iconsWrapperInBottomNavBar span {
    font-size: 10px;
}

.bottomNavbar i {
    font-size: 15px;
}

@media (max-width: 500px) {
    .bottomNavbar {
        display: flex;
    }
}