.chatContainer {
    background-color: rgba(0, 0, 0, 0.925);
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: none;
    flex-direction: column;
}

.reciever {
    height: 10vh;
    background-color: rgba(128, 128, 128, 0.228);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.recieverContainer {
    display: flex;
    align-items: center;
}

.recieverContainer h1 {
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 100;
    font-size: large;
    color: rgba(255, 255, 255, 0.578);
}

.recieverProfile {
    cursor: pointer;
    margin-right: 10px;
    height: 50px;
    width: 55px;
    background-color: rgba(255, 255, 255, 0.578);
}

.chatContainer i {
    cursor: pointer;
}

.fa-x {
    border-radius: 5px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.578);
}

.fa-x:hover {
    background-color: rgb(255, 14, 14);
}

.fa-camera {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.578);
}

.fa-x {
    font-size: 20px;
}

.conversationContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow: auto;
    scrollbar-width: none;
    background-color: rgba(128, 128, 128, 0.155);
}

.kachatlittleinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.578);
}


.friendProfile {
    width: 150px;
    height: 140px;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.578);
}

.conversationContainer h3 {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.717);
}

.conversation {
    width: 100%;
}

.youContainer { 
    display: flex;
    justify-content: end;
}

.you {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: end;
}

.you p {
    text-align: end;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.youProfile {
    width: 50px;
    height: 40px;
    margin: 10px;
    background-size: cover;
    border: 1px solid white;
    border-radius: 5px;
}

.kachatContainer {
    display: flex;
    justify-content: start;
}

.kachat {
    width: fit-content;
    display: flex;
    align-items: center;
}

.kachat p {
    text-align: start;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.kachatProfile {
    width: 50px;
    height: 40px;
    margin: 10px;
    background-size: cover;
    border: 1px solid white;
    border-radius: 5px;
}

.chatInputboxContainer {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    background-color: rgba(128, 128, 128, 0.228);
    height: 10vh;
}

.Inputfieldicons {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
    color: rgba(255, 255, 255, 0.845);
}

.Inputfieldicons i {
    font-size: 20px;
    border-radius: 3px;
    padding: 3px;
}

.Inputfieldicons i:hover {
    background-color: lightgray;
}

.chatInputboxContainer .messageInputField {
    padding: 10px;
    width: 100%;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.596);
}

.chatInputboxContainer .sendMessage {
    color: white;
}

.chatInputboxContainer p:hover {
    background-color: lightgray;
}
