.chatContainer {
    background-color: aliceblue;
    background-color: rgb(216, 216, 216);
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: none;
    flex-direction: column;
    z-index: 1;
}

.chatContainer.show {
    display: flex;
}

.reciever {
    height: 10vh;
    /* background-color: rgba(128, 128, 128, 0.228); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.recieverContainer {
    display: flex;
    align-items: center;
}

.recieverContainer h1 {
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 100;
    font-size: large;
    color: black;
}

.recieverProfile {
    cursor: pointer;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.chatContainer i {
    cursor: pointer;
}

.fa-x {
    border-radius: 5px;
    padding: 5px;
}

.fa-x:hover {
    background-color: rgb(255, 14, 14);
}

.fa-camera {
    font-size: 20px;
}

.fa-x {
    font-size: 20px;
}

.conversationContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow: auto;
    scrollbar-width: none;
}

.kachatlittleinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.friendProfile {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.578);
}

.conversationContainer h3 {
    margin-bottom: 10px;
}

.conversation {
    width: 100%;
    margin-bottom: 10vh;
}

.youContainer { 
    display: flex;
    justify-content: end;
}

.you {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    max-width: 80%;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.messageAndProfileWrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.profileOfpeopleWhoSeenTheMessage {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 2px;
}

.you p {
    text-align: start;
    background-color: rgb(1, 96, 134);
    padding: 10px;
    border-radius: 20px;
    color: white;
    max-width: inherit;
    word-break: break-all;
}

.youProfile {
    width: 50px;
    min-width: 50px;
    height: 50px;
    background-size: cover;
    border: 1px solid white;
    border-radius: 50%;
}

.kachatContainer {
    display: flex;
    justify-content: start;
}

.kachat {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
    max-width: 80%;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.kachat p {
    text-align: start;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: gray;
    word-break: break-all;
}

.kachatProfile {
    width: 50px;
    min-width: 50px;
    height: 50px;
    background-size: cover;
    border: 1px solid white;
    border-radius: 50%;
}

.chatInputboxContainer {
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    height: 10vh;
}

.Inputfieldicons {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}

.Inputfieldicons i {
    font-size: 20px;
    border-radius: 3px;
    padding: 3px;
}

.Inputfieldicons i:hover {
    background-color: lightgray;
}

.chatInputboxContainer .messageInputField {
    padding: 10px;
    width: 100%;
    border-radius: 40px;
}

.chatInputboxContainer .sendMessage {
    
}

.chatInputboxContainer p:hover {
    background-color: lightgray;
}

@media (max-width: 500px) {
    .you p {
        font-size: small;
    }

    .kachat p {
        font-size: small;
    }
}
