.chatContainer {
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: none;
    flex-direction: column;
    z-index: 1;
}

.chatContainer.show {
    display: flex;
}

.reciever {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: radial-gradient(circle at 0% 0%, rgb(0, 74, 0) 30%, transparent 60%),
            radial-gradient(circle at 100% 0%, rgb(1, 143, 20) 30%, transparent 60%),
            radial-gradient(circle at 50% 50%, rgb(1, 101, 29) 30%, transparent 60%),
            #08ba14;
}

.recieverContainer {
    display: flex;
    align-items: center;
}

.recieverContainer h1 {
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 100;
    font-size: large;
    color: white;
}

.recieverProfile {
    cursor: pointer;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.chatContainer i {
    cursor: pointer;
    color: white;
}

.fa-x {
    border-radius: 5px;
    padding: 5px;
}

.fa-x:hover {
    background-color: rgb(255, 14, 14);
}

.fa-camera {
    font-size: 20px;
}

.fa-x {
    font-size: 20px;
}

.conversationContainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow: auto;
    scrollbar-width: none;
    background: radial-gradient(circle at 0% 0%, rgb(2, 54, 2) 30%, transparent 60%),
            radial-gradient(circle at 100% 0%, rgb(0, 41, 6) 30%, transparent 60%),
            radial-gradient(circle at 50% 50%, rgb(6, 87, 29) 30%, transparent 60%),
            #000000;
}

.kachatlittleinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kachatlittleinfo h1 {
    color: white;
}

.kachatlittleinfo h3 {
    color: white;
}

.friendProfile {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-size: cover;
}

.conversationContainer h3 {
    margin-bottom: 10px;
}

.conversation {
    width: 100%;
    margin-bottom: 10vh;
}

.youContainer { 
    display: flex;
    justify-content: end;
}

.you {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    max-width: 80%;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.messageAndProfileWrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.profileOfpeopleWhoSeenTheMessage {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 2px;
}

.you p {
    text-align: start;
    background-color: rgb(1, 96, 134);
    padding: 10px;
    border-radius: 20px;
    color: white;
    max-width: inherit;
    word-break: break-all;
}

.youProfile {
    width: 50px;
    min-width: 50px;
    height: 50px;
    background-size: cover;
    border: 1px solid white;
    border-radius: 50%;
}

.kachatContainer {
    display: flex;
    justify-content: start;
}

.kachat {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
    max-width: 80%;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.kachat p {
    text-align: start;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: gray;
    word-break: break-all;
}

.kachatProfile {
    width: 50px;
    min-width: 50px;
    height: 50px;
    background-size: cover;
    border: 1px solid white;
    border-radius: 50%;
}

.chatInputboxContainer {
    position: fixed;
    bottom: 0;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    height: 10vh;
    width: 80%;
    background: radial-gradient(circle at 0% 0%, rgb(2, 117, 2) 30%, transparent 60%),
            radial-gradient(circle at 100% 0%, rgb(1, 114, 16) 30%, transparent 60%),
            radial-gradient(circle at 50% 50%, rgb(0, 168, 48) 30%, transparent 60%),
            #08ba14;
}

.Inputfieldicons {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}

.Inputfieldicons i {
    font-size: 20px;
    border-radius: 3px;
    padding: 3px;
    color: white;
}

.sendMessage {
    color: white;
}

.Inputfieldicons i:hover {
    background-color: lightgray;
}

.chatInputboxContainer .messageInputField {
    padding: 10px;
    width: 100%;
    border-radius: 40px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    border: 1px solid white;
}

.chatInputboxContainer .sendMessage {
    
}

.typing-indicator-container {
    margin-bottom: 10vh;
    display: none;
    width: 100%;
    justify-content: start;
}

.typing-indicator-container.show {
    display: flex;
}

.typing-indicator {
    padding: 10px;
    background-color: gray;
    border-radius: 20px;
    animation: wave 1.5s infinite;
}

.optionWhatToDoToAMessageContainer {
    display: flex;
    opacity: 0;
    pointer-events: none;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: absolute;
    bottom: 0;
    background-color: red;
    width: 100%;
    height: 10vh;
    padding: 10px;
    transition: opacity, transform .5s ease-in-out;
    transform: translateY(100%);
}

.optionWhatToDoToAMessageContainer.show {
    transform: translateY(0);
    opacity: 1;
}

.labelAndIconWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelAndIconWrapper label {
    color: white;
}

@keyframes wave {
    20% {  transform: translate(10px, 0); }
    40% {  transform: translate(-10px, 0); }
    60% {  transform: translate(20px, 0); }
    80% {  transform: translate(-20px, 0); } 
    100% {  transform: translate(10px, 0); } 
}

.chatInputboxContainer p:hover {
    background-color: lightgray;
}

@media (max-width: 500px) {
    .you p {
        font-size: small;
    }

    .kachat p {
        font-size: small;
    }

        .chatInputboxContainer {
            width: 100%;
        }
}
