.conversationsettings {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow-y: auto;
    background-color: rgb(243, 250, 255);
    gap: 10px;
}

.conversationsettings.show {
    display: flex;
}

.conversationProfileOrFriendProfile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
}

.conversationsettings h1 {
    font-size: 24px;
    font-weight: 100;
    text-align: center;
}

.someButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.someButtons button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.conversationsettings label {
    margin-bottom: 5px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.479);
}

.more {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.iWrappers {
    cursor: pointer;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}

.iWrappers:hover {
    background-color: lightgray;
}

.leave_chat {
    color: red;
}