.createGroupChatContainer {
    height: 100vh;
    width: 80vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

@media (max-width: 500px) {
    .createGroupChatContainer {
        width: 100vw;
    }
}

.createGroupChatContainer label {
    font-weight: 600;
}

.searchPeopleInCreateGroupChat {
    width: 100%;
}

.groupChatName {
    padding: 10px;
    width: 40%;
    outline: none;
    border-radius: 5px;
    border-width: 1px;
}

.friendWrapper {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid gray;
}

.friendWrapper:hover {
    filter: brightness(.9);
}

.friendWrapper h1 {
    font-size: 20px;
}

.friendWrapper img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.friendWrapper div {
    display: flex;
    align-items: center;
    gap: 10px;
    pointer-events: none;
}

.checkBox {
    width: 20px;
}

.goBackTomessageButtonInCreateGroupChat {
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

.goBackTomessageButtonInCreateGroupChat:hover {
    filter: brightness(.9);
}

.createGroupChat {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    top: 90%;
    left: var(--xpos);
    width: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;
}

.createGroupChat:hover {
    filter: brightness(.9);
}