.friendrequestsContainer {
    background-color: black;
    height: 100vh;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 8px gray;
    gap: 10px;
    display: none;
    overflow: auto;
    scrollbar-width: none;
}

.friendrequestsContainer h1 {
    color: white;
}

.friendrequestsContainer h3 {
    color: white;
}

.friendrequestsContainer hr {
    width: 100%;
}

.personRequestContainer {
   display: flex;
   gap: 10px;
   width: 100%;
   border-radius: 10px;
   padding: 10px;
}

.personRequestContainer:hover {
    background-color: rgba(211, 211, 211, 0.155);
}

.personRequestContainer hr {
    width: 100%;
}

.personRequestProfilePicture {
    height: 60px;
    width: 70px;
    border-radius: 5px;
    background-size: cover;
}

.NameAndButtonsContainerInFriendRequest {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.NameAndButtonsContainerInFriendRequest button {
    padding: 5px;
    width: 100px;
    border-radius: 3px;
    border-width: 1px;
    font-weight: 600;
}

.NameAndButtonsContainerInFriendRequest button:hover {
    filter: brightness(.9);
}

.accept {
    background-color: #185fd1;
    color: white;
}

.block {
    background-color: lightgray;
}