.menuContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
    height: 100%;
}

.menuContainer hr {
    width: 100%;
}

.menuContainer h5 {
    font-size: medium;
    padding: 10px;
    border-radius: 10px;
    font-weight: 100;
}

.menuContainer h5:hover {
    background-color: rgba(128, 128, 128, 0.329);
}

.menuContainer a {
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.menuContainer a:hover {
    background-color: lightgray;
}

.userprofilePicInMenu {
    width: 50px;
    height: 40px;
}

.userWrapperInMenu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.settingsWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    padding-left: 0;
}   

.iconsWrapperInBottomNavBar {
    border-radius: 10px;
    padding: 10px;
}

.iconsWrapperInBottomNavBar:hover {
    background-color: gray;
}

.settingsWrapper:hover {
    background-color: rgba(128, 128, 128, 0.329);
}

@media (max-width: 500px) {
    .menuContainer {
        align-items: start;
    }

    .menuContainer h5 {
        font-size: 10px;
    }
}