

.mainContentContainer {
    display: flex;
}

.messagesContainer {
    width: 400px;
    height: 85vh;
    padding: 0; 
    border-radius: 0;
    background-color: white;
    overflow: hidden;
    scrollbar-width: none;
    border-radius: 10px;
}

.messagestopcontent {
    height: 15vh;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchContainer {
    display: flex;
    width: 100%;
    margin-left: 10px;
    gap: 10px;
}

.messagesContainer input {
    width: 80%;
    border-style: none;
    border-radius: 40px;
}

.messagesContainer button {
    background: linear-gradient(135deg, #1e293b, #334155);
    color: white;
    border-style: none;
    cursor: pointer;
    border-radius: 40px;
}

.messagesContentContainer {
    overflow: auto;
    scrollbar-width: none;
    height: 84%;
    padding-left: 20px;
    padding-right: 20px;
}

.friend {
    height: 12%;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
}

.friend h3 {
    margin-left: 10px;
    font-weight: 100;
}

.friend:hover {
    background-color: lightgray;
}

.profilepicture {
    background-size: cover;
    height: 45px;
    width: 50px;    
    border-radius: 5px;
    background-image: url("Screenshot 2025-10-16 212452.png");
}

.userprofileinmessagesheader {
    width: 50px;
    height: 35px;
    background-color: red;
    background-size: cover;
}

.fa-ellipsis {
    cursor: pointer;
    font-size: 20px;
    border-radius: 3px;
}

.fa-ellipsis:hover {
    background-color:gray;
}

.threeDonContentContainer {
    position: absolute;
    font-family: sans-serif;
    background-color: white;
    box-shadow: 1px 1px 8px gray;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.threeDonContentContainer h5 {
    padding: 10px;
    border-radius: 5px;
}

.threeDonContentContainer h5:hover {
    background-color: lightgray;
}