.messagesContainer {
    width: 100%;
    height: 100%;
    max-height: 100%;
    scrollbar-width: none;
    background-color: rgb(0, 128, 119);
    padding: 20px;
    overflow: auto; 
}

.nameAndLastMessageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-height: 50px;
    max-width: 900px;
}

.nameAndLastMessageWrapper h1 {
    font-weight: 100;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

.lastMessage {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.737);
}

.lastMessage.notSeenYet {
    color: green;
}

.nameAndLastMessageWrapper h1.notSeenYet {
    color: white;
}

.friend {
    height: 12%;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    cursor: pointer;
    background-color: orangered;
    margin-top: 10px;
}

.profilePicAndNameWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-ellipsis {
    font-size: 30px;
    font-weight: 100;
    color: white;
}

.friend .profilepicture {
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    background-size: cover;
}

.friend:hover {
    background-color: lightgray;
}

.threeDonContentContainer {
    position: fixed;
    font-family: sans-serif;
    background: rgba(255, 255, 255, 0.596);
    box-shadow: 1px 1px 8px gray;
    padding: 10px;
    border-radius: 5px;
    display: none;
    transform: translate(-50%, 0);
}

.threeDonContentContainer h5 {
    padding: 10px;
    border-radius: 5px;
}

.threeDonContentContainer h5:hover {
    background-color: rgba(211, 211, 211, 0.397);
}

@media (max-width: 480px) {
    .nameAndLastMessageWrapper {
        max-width: 200px;
    }
}