.messagesContainer {
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    background-color: rgba(0, 0, 0, 0.925);
    padding: 20px;
    overflow: auto; 
}

.friend {
    height: 12%;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.829);
    margin-top: 10px;
}

.profilePicAndNameWrapper {
    display: flex;
    align-items: center;
}

.profilePicAndNameWrapper h1 {
    font-weight: 100;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}

.fa-ellipsis {
    font-size: 30px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.596);
}

.friend .profilepicture {
    width: 60px;
    height: 50px;
    border-radius: 5px;
    background-size: cover;
}

.friend h1 {
    margin-left: 10px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.596);
}

.friend:hover {
    background-color: rgba(211, 211, 211, 0.078);
}

.threeDonContentContainer {
    position: fixed;
    font-family: sans-serif;
    background: rgba(255, 255, 255, 0.596);
    box-shadow: 1px 1px 8px gray;
    padding: 10px;
    border-radius: 5px;
    display: none;
    transform: translate(-50%, 0);
}

.threeDonContentContainer h5 {
    padding: 10px;
    border-radius: 5px;
}

.threeDonContentContainer h5:hover {
    background-color: rgba(211, 211, 211, 0.397);
}