.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-left: none;
}

.searchPeople {
    width: 100%;
    border-radius: 40px;
    border-style: none; 
    backdrop-filter: blur(15px);
}

.navbarSearchAndButtonContainer {
    display: flex;
    width: 500px;
    gap: 10px;
    position: relative;
}

.navbarSearchButton {
    border-radius: 40px;
    border-style: none;
}

.userprofile {
    height: 40px;
    width: 40px;
    max-width: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.navbaruser {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchResultContainer {
    position: absolute;
    left: 42%;
    top: 40px;
    padding: 10px;
    transform: translate(-50%);
    width: 83%;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 1px 1px 8px gray;
    height: 400px;
    overflow: auto;
    scrollbar-width: none;
    display: none;
}

.searchResultContainer ul li {
    list-style: none;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.searchResultContainer ul li:hover {
    filter: brightness(.9);
}

.noResultFoundMessage {
    text-align: center;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    font-family: cursive;
    width: 100%;
}

.userFromSearchResult span {
    display: inline-block;
    background-size: cover;
    border-radius: 3px;
    padding: 10px;
    width: 50px;
    height: 40px;
}