.personProfile {
    height: 85vh;
    width: 400px;
    box-shadow: 1px 1px 8px gray;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 20px;
    background-color: white;
}

.personProfilePicture  {
    width: 200px;
    height: 170px;
    border: 2px solid black;
    box-shadow: 2px 4px 8px gray;
    background-size: cover;
}

.personProfile h1 {
    font-weight: 100;
}

.personProfile hr {
    width: 100%;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonsContainer button {
    padding: 10px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 2px 4px 8px gray;
    font-weight: 600;
    border-style: inset;
    border-width: 3px;
}

.buttonsContainer button:hover {
    filter: brightness(.9);
}

.addButton {
    background-color: rgb(21, 187, 242);
}

.messageButton {
    background-color: rgb(33, 250, 33);
}

.personProfile p {
    text-align: center;
}

.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
}

.bodyText {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}