.sidebar {
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 9;
    border-radius: 0;
    border-top: none;
    border-left: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.iconsWrapper div:hover {
    filter: brightness(.9);
}

.iconsWrapper span {
   
}

.fa-user {
    font-size: 30px;
    
}

.settings {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.accountsInSideBar {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.fa-gear {
    font-size: 30px;
    color: gray;
}

.messagesIcon {
   display: flex;
   align-items: center;
   gap: 10px;
   cursor: pointer;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid gray;
}

.fa-envelope {
    font-size: 30px;
    color: gray;
}

.FriendRequestIconAndLabelContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.fa-user-group {
    font-size: 30px;
    color: gray;
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }

    .requestBodyContainer {
        width: 100vw !important;
    }

    .navbar h1 {
        font-size: 20px;
    }
}