.sidebar {
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.829);
    z-index: 10;
    border-radius: 0;
    left: 0;
    position: absolute;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    color: rgba(255, 255, 255, 0.596);
}

.fa-envelope {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.596);
}

.iconsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.iconsWrapper div:hover {
    background-color: rgba(0, 0, 0, 0.361);
}

.iconsWrapper span {
    color: rgba(255, 255, 255, 0.596);
}

.fa-user {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.596);
}

.settings {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.accountsInSideBar {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.fa-gear {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.596);
}

.messagesIcon {
   display: flex;
   align-items: center;
   gap: 10px;
   cursor: pointer;
   padding: 10px;
   border-radius: 5px;
}

.fa-envelope {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.596);
}

.FriendRequestIconAndLabelContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.fa-user-group {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.596);
}