.sidebar {
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: radial-gradient(circle at 0% 0%, rgb(0, 38, 0) 10%, transparent 60%),
            radial-gradient(circle at 100% 0%, rgb(0, 71, 10) 20%, transparent 60%),
            radial-gradient(circle at 50% 50%, rgb(1, 131, 38) 30%, transparent 60%),
            #018b2a;
    z-index: 10;
    border-radius: 0;
    left: 0;
    position: absolute;
    border-top: none;
    border-left: none;
    border-color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    color: white;
}

.iconsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.iconsWrapper div:hover {
    background-color: rgba(0, 0, 0, 0.361);
}

.iconsWrapper span {
   color: white;
}

.fa-user {
    font-size: 30px;
    color: white;
}

.settings {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.accountsInSideBar {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.fa-gear {
    font-size: 30px;
    color: white;
}

.messagesIcon {
   display: flex;
   align-items: center;
   gap: 10px;
   cursor: pointer;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid white;
}

.fa-envelope {
    font-size: 30px;
    color: white;
}

.FriendRequestIconAndLabelContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.fa-user-group {
    font-size: 30px;
    color: white;
}

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }

    .requestBodyContainer {
        width: 100vw;
    }

    .navbar h1 {
        font-size: 20px;
    }
}